body
  font-family 'Lato', sans-serif
  font-weight 400
  padding-top 60px
  // background-color #f5f5f5

.navbar a.brand
  padding-top 7px
  padding-right 15px
  padding-bottom 0

.cover
  width 150px
  margin-bottom 6px 
  margin-right 6px 

.navbar .container
  width 1110px

.well.login
  background-color #f5f5f5

#search
  background-color #eee

.overview
  margin-top 20px

.footer
  text-align center
  padding 30px 0
  margin-top 70px
  background-color #f5f5f5
  border-top 1px solid #e5e5e5

.footer p
  margin-bottom 0;
  color #777

.footer-links
  margin 10px 0

.footer-links li
  display inline
  padding 0 4px